html, body{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.landing-image {
  display: block;
  height: 80vh;
  width: 40vw;
  margin-left: auto;
}

.navbar {
  display: flex;
}

li {
  display: inline-block;
  margin: 10px;
}

.left {
  margin-left: auto;
}

.btn1{
  background-color: #fc2903;
  font-size: 1rem;
  height: 40px;
  font-weight: 600;
  border: 0px;
  border-radius: 24px;
  padding: 0px 12px;
  cursor: pointer;
  margin:0px 4px;
}

a{
  text-decoration: none;
}
